* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    font-family: 'Nunito', sans-serif;
 
}
.wrapper {
    width: 80vw;
    margin: auto;
}
.f-left {
    float: left;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.t-white {
    color: white;
}

.t-gray {
    color: darkgray;
}

.t-dark {
    color: rgb(62, 65, 62);
}

.t-red {
    color: red;
}

.t-center {
    text-align: center;
    line-height: 100px;
}

/* overlay */
.overlay-hero {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    padding: 300px 50% 30px 40px;

    border-radius: 20px;
}
.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

header {
    height: 50px;
}

header #logo {
    height: 100%;

    border-right: 1px solid darkgray; 
    padding-right: 20px;
}

#navbar {
    margin-top: 20px;
}

#navbar ul li {
    display: inline-block;
    text-transform: uppercase;
    
    font-size: 15px;

    margin-right: 10px; 
}

#navbar ul li a {
    text-decoration: none;

    color: darkgray;
}

#navbar ul li a:hover {
    text-decoration: underline;
}

section#hero {
    height: 600px;
    width: 100%;

    background-image: url(img/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 20px;
}

#hero h2 {
    font-weight: 300;
    font-size: 2rem;
}

.tit-sezione {
    height: 100px;
    margin-bottom: 20px;
}

.tit-sezione h1 {
    font-family: 'Open Sans';
    font-size: 2rem;
}

section h6 {
    font-size: 1rem;
    font-weight: 600;
}

section p {

}

.section-img {
    width: 100%;
    height: 200px;

    border-radius: 20px;

    margin-bottom: 20px;
}

/* immagini nelle tre colonne */
section .section-img:first-of-type {
    background-size: cover;
    background-position: center;
}

/* prima colonna */
section aside:nth-child(2) > .section-img {
    background-image: url(img/img-1.jpg);
}
/* colonna centrale */
section article > .section-img {
    background-image: url(img/banner-2.jpg);
}
/* terza colonna */
section aside:nth-child(4) > .section-img {
    background-image: url(img/img-3.jpg);
}

/* .section-img img {
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;
} */

/* altezza elementi sezione float */
section aside, section .col-central {
    margin-bottom: 20px;
}

section aside {
    width: 20%;
}

section .col-central {
    width: 56%;
    margin-right: 2%;
    margin-left: 2%;
}

footer {
    height: 100px;

    margin-top: 5px;

}

header, section {
    margin-top: 20px;
}
