* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}

body {
    font-family: 'Nunito', sans-serif;
 
}
.wrapper {
    width: 80vw;
    margin: auto;
}
.f-left {
    float: left;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.t-white {
    color: white;
}

.t-gray {
    color: darkgray;
}

.t-dark {
    color: rgb(62, 65, 62);
}

/* overlay hero */
.overlay {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    padding: 300px 50% 30px 40px;

    border-radius: 20px;
    overflow:scroll;
}

header {
    height: 50px;
}

header #logo {
    height: 100%;

    border-right: 1px solid darkgray; 
    padding-right: 20px;
}

#navbar {
    margin-top: 20px;
}

#navbar ul li {
    display: inline-block;
    text-transform: uppercase;
    
    font-size: 13px;

    margin-right: 10px; 
}

#navbar ul li a {
    text-decoration: none;

    color: darkgray;
}

#navbar ul li a:hover {
    text-decoration: underline;
}

section#hero {
    height: 500px;
    width: 100%;

    background-image: url(img/banner.jpg);
    background-position: center;

    border-radius: 20px;
}

#hero h2 {
    font-weight: 300;
    font-size: 2rem;
}

.tit-sezione {
    height: 100px;
    margin-bottom: 20px;
}

.tit-sezione h1 {
    font-family: 'Open Sans';
    font-size: 2rem;
}

/* altezza elementi sezione float */
section aside, section .col-central {
    height: 400px;
    margin-bottom: 20px;
}

section aside {
    width: 20%;
    background-color: rgb(177, 168, 196);
}

section .col-central {
    width: 56%;
    background-color: rgb(247, 202, 224);
    margin-right: 2%;
    margin-left: 2%;
}

footer {
    background-color: rgb(89, 98, 138);
    height: 100px;

    margin-top: 5px;

}

header, section {
    margin-top: 20px;
}

/* utility classes */

